.App {
    flex-direction: column;
    background: ghostwhite;
    min-height: 100vh;
}

.App>div.wrapper {
    justify-content: space-between;
    padding: 2em;
    background: white;
    border: 1px solid lightgray;
    border-radius: 3px;
}

.App>div.wrapper>div:last-of-type {
    margin-left: 2em;
    min-width: 800px;
}

.finance-inputs>* {
    margin: 3px ;
}

.finance-inputs>span {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.finance-inputs>span:first-of-type {
    align-items: center;
}

.finance-inputs>span:last-of-type {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.finance-inputs>span:last-of-type input {
    margin: 0 10px;
    max-width: 70px;
}

.finance-inputs>span>p:first-of-type {
    margin: 0 5px 0 0;
    font-weight: normal;
    min-width: 170px;
}

.finance-inputs>span>p:last-of-type {
    margin: 0 0 0 3px;
    font-weight: normal;
    min-width: 40px;
    text-align: center;
}

.finance-inputs hr {
    border: 1px solid lightgray;
    margin: 3% 1%;
}

.finance-inputs .bottom-stats span {
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}